<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>

    <meta charset="utf-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Offerthanterare</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/js/index.js}" th:rel="stylesheet"/>


</head>
<body>

<!--<p th:text="${'Antal aktiva offerter: ' + totalBelopp + '.'}"></p>-->

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">

<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <h1>Offerthanterare</h1>-->
<!--            <p>MLT Maskin & Laserteknik AB</p>-->
<!--        </div>-->
<!--    </div>-->

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"><h3>Offerthanterare</h3></a>
            <form class="d-flex">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
            </form>
        </div>
    </nav>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Offert</th>
                    <th scope="col">Kund</th>
                    <th>Namn</th>
                    <th>Säljare</th>
                    <th>Status</th>
                    <th>Chans</th>
                    <th>Belopp</th>
                    <th>Ändrad</th>
                    <th>Skapad</th>
                    <th>Uppdatera</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="offerStat : ${offerStats}"
                    th:styleappend="${offerStat.dateDiff} > 5 ? 'background: red;' : 'color: black;'">
                    <td th:text="${offerStat.orderNr}">NULL</td>
                    <td th:text="${offerStat.foretagNamn}">NULL</td>
                    <td th:text="${offerStat.offertNamn}">NULL</td>
                    <td th:text="${offerStat.saljare}">NULL</td>
                    <td th:text="${offerStat.status} ? ${offerStat.status} : ' - '">NULL</td>
                    <td th:text="${offerStat.chans} ? ${offerStat.chans} : ' - '">NULL</td>
                    <td th:text="${offerStat.belopp} ? ${offerStat.belopp} : ' - '">NULL</td>
                    <td th:text="${offerStat.updateDate}">NULL</td>
                    <td th:text="${offerStat.regDate}">NULL</td>
                    <td><a class="btn btn-light" role="button" th:href="@{/update/{id}(id=${offerStat.orderNr})}">UPPDATERA</a>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>
