<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>

    <meta charset="utf-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Offerthanterare</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/js/index.js}" th:rel="stylesheet"/>

</head>
<body>

<!--<p th:text="${'Antal aktiva offerter: ' + totalBelopp + '.'}"></p>-->

<div class="container mt-5">

    <!--    Header and filter table-->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Offerthanterare</a>
            <form class="d-flex">
                <label for="myInput"></label><input class="form-control" id="myInput" type="text" placeholder="Sök...">
            </form>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm">

        </div>

    </div>

    <!--    Dropdown-filter-->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"></a>
            <form class="d-flex">
                <select data-table="table table-light table-striped table-hover" class="form-select"
                        aria-label="Default select example">
                    <option selected value="">Välj avdelning</option>
                    <option value="VIB">VIB</option>
                    <option value="ALI">ALI</option>
                    <option value="3D">3D</option>
                    <option value="SCH">SCH</option>
                </select>
            </form>
        </div>
    </nav>


    <!--Table-->
    <div class="row">
        <div class="col">
            <table class="table table-light table-striped table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="row">Offert</th>
                    <th scope="row">Kund</th>
                    <th>Namn</th>
                    <th>Säljare</th>
                    <th>Status</th>
                    <th>Chans</th>
                    <th>Belopp</th>
                    <th>Ändrad</th>
                    <th>Skapad</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="offerStat : ${offerStats}"
                    th:styleappend="${offerStat.dateDiff} > 30 ? 'background: #ffffcc;' : 'color: black;'">
                    <td th:text="${offerStat.orderNr}">NULL</td>
                    <td th:text="${offerStat.foretagNamn}">NULL</td>
                    <td th:text="${offerStat.offertNamn}">NULL</td>
                    <td th:text="${offerStat.saljare}">NULL</td>
                    <td th:text="${offerStat.status} ? ${offerStat.status} : ' - '">NULL</td>
                    <td th:text="${offerStat.chans} ? ${offerStat.chans} : ' - '">NULL</td>
                    <td th:text="${offerStat.belopp} ? ${offerStat.belopp} : ' - '">NULL</td>
                    <td th:text="${offerStat.updateDate}">NULL</td>
                    <td th:text="${offerStat.regDate}">NULL</td>
                    <td><a class="btn btn-primary" role="button"
                           th:href="@{/update/{id}(id=${offerStat.orderNr})}">Uppdatera</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

<!--Search function-->
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!--Dropdown filter-->
<script>

    (function (document) {
        'use strict';

        var LightTableFilter = (function (Arr) {

            var _input;
            var _select;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _onSelectEvent(e) {
                _select = e.target;
                var tables = document.getElementsByClassName(_select.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filterSelect);
                    });
                });
            }

            function _filter(row) {

                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';

            }

            function _filterSelect(row) {

                var text_select = row.textContent.toLowerCase(),
                    val_select = _select.options[_select.selectedIndex].value.toLowerCase();
                row.style.display = text_select.indexOf(val_select) === -1 ? 'none' : 'table-row';

            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('form-control');
                    var selects = document.getElementsByClassName('form-select');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                    Arr.forEach.call(selects, function (select) {
                        select.onchange = _onSelectEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);

</script>
</body>
</html>
