<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="../static/css/normalize.css" rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css"/>
    <link href="../static/css/skeleton.css" rel="stylesheet" th:href="@{/css/skeleton.css}" type="text/css"/>
    <!--  <script th:src="@{/js/index.js}" type="text/javascript"></script>-->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png">

    <!-- JavaScript
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script th:src="@{/js/index.js}" type="text/javascript"></script>

</head>

<body>

<h1>UPDATE OFFER</h1>


<form action="#" th:action="@{/updateOffer}" th:object="${offert}" method="POST" class="update-body">


    <h3 th:text="*{'Offertnr: ' + orderNr}"></h3>
    <h3 th:text="*{'Offertnamn: ' + offertNamn}"></h3>

    <!--        Add hidden form field to handle update-->
    <input type="hidden" th:field="*{orderNr}"/>

    <label for="status">Status: </label>
    <select id="status" name="status" th:field="*{status}">
        <option value="10">10: Suspect (Oklart behov)</option>
        <option value="20">20: Prospect - att jobba på.</option>
        <option value="30">30: Demo Bokad eller offertarbete</option>
        <option value="40">40: Offert hos kund - bearbetas</option>
        <option value="50">50: Avslut nära</option>
        <option value="60">60: Ice cold - Avvakta</option>
        <option value="70">70: Förlorad till konkurrent</option>
        <option value="80">80: Projekt nerlagt</option>
    </select>

    <br>

    <!--        Input fields-->
    <!--        <p>Status</p>-->
    <!--        <input th:field="*{status}">-->
    <label for="chans">Chans (%): </label>
    <input id="chans" th:field="*{chans}">

    <p>Kommentarer:<br>
        <textarea rows="5" cols="50" th:field="*{kommentar}"></textarea>
    </p>

    <!--        Below is hidden from input-->
    <input type="hidden" th:field="*{orderNr}" placeholder="OrderId">
    <input type="hidden" th:field="*{foretagKod}" placeholder="foretagKod">
    <input type="hidden" th:field="*{foretagNamn}" placeholder="kundId">
    <input type="hidden" th:field="*{offertNamn}" placeholder="projektNamn">
    <input type="hidden" th:field="*{saljare}" placeholder="Säljare">
    <input type="hidden" th:field="*{belopp}" placeholder="OrderId">
    <input type="hidden" th:field="*{updateDate}" placeholder="OrderId">
    <input type="hidden" th:field="*{{regDate}}" placeholder="RegDatum">

    <!--        Update Button        -->
    <a th:href="@{/}" class="button-primary">Back</a>


    <button type="submit" class="button-primary">Uppdatera offert</button>
</form>

</body>
</html>