<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>

    <meta charset="utf-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Offerthanterare - Uppdatera</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/js/index.js}" th:rel="stylesheet"/>

</head>

<body>

<div class="container">

<!--    Navbar-->
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid" th:object="${offert}">
                    <span class="navbar-brand mb-0 h1" th:text="*{'Offert ' + orderNr + ' ' + offertNamn}"></span>
                </div>
            </nav>
        </div>
    </div>

<!--    Offertnummer och Offertnamn-->
<!--    <div class="row">-->
<!--        <div class="col-sm" th:object="${offert}">-->
<!--            <p th:text="*{'Offertnr: ' + orderNr}"></p>-->
<!--            <p th:text="*{'Offertnamn: ' + offertNamn}"></p>-->
<!--        </div>-->
<!--    </div>-->

<!--    Formulär-->
    <div class="row">
        <div class="col-sm">

        </div>
    </div>


    <form action="#" th:action="@{/updateOffer}" th:object="${offert}" method="POST" class="align-items-center">

        <!--        Add hidden form field to handle update-->
        <input type="hidden" th:field="*{orderNr}"/>

<!--        <select class="form-select" aria-label="Default select example" th:field="*{status}">-->
<!--            <option value="10">10: Suspect (Oklart behov)</option>-->
<!--            <option value="20">20: Prospect - att jobba på.</option>-->
<!--            <option value="30">30: Demo Bokad eller offertarbete</option>-->
<!--            <option value="40">40: Offert hos kund - bearbetas</option>-->
<!--            <option value="50">50: Avslut nära</option>-->
<!--            <option value="60">60: Ice cold - Avvakta</option>-->
<!--            <option value="70">70: Förlorad till konkurrent</option>-->
<!--            <option value="80">80: Projekt nerlagt</option>-->
<!--        </select>-->

        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Status: </label>
            <select class="form-select" id="autoSizingSelect" th:field="*{status}">
                <option value="10">10: Suspect (Oklart behov)</option>
                <option value="20">20: Prospect - att jobba på.</option>
                <option value="30">30: Demo Bokad eller offertarbete</option>
                <option value="40">40: Offert hos kund - bearbetas</option>
                <option value="50">50: Avslut nära</option>
                <option value="60">60: Ice cold - Avvakta</option>
                <option value="70">70: Förlorad till konkurrent</option>
                <option value="80">80: Projekt nerlagt</option>
            </select>
        </div>


        <label for="chans">Chans (%): </label>
        <input id="chans" th:field="*{chans}">

        <div class="form-floating">
            <label for="floatingTextarea2"></label>
            <textarea class="form-control" placeholder="Kommentar" id="floatingTextarea2" style="height: 100px" th:field="*{kommentar}"></textarea>
            <br>
        </div>



        <!--        Below is hidden from input-->
        <input type="hidden" th:field="*{orderNr}" placeholder="OrderId">
        <input type="hidden" th:field="*{foretagKod}" placeholder="foretagKod">
        <input type="hidden" th:field="*{foretagNamn}" placeholder="kundId">
        <input type="hidden" th:field="*{offertNamn}" placeholder="projektNamn">
        <input type="hidden" th:field="*{saljare}" placeholder="Säljare">
        <input type="hidden" th:field="*{belopp}" placeholder="OrderId">
        <input type="hidden" th:field="*{updateDate}" placeholder="OrderId">
        <input type="hidden" th:field="*{{regDate}}" placeholder="RegDatum">

        <!--        Update Button        -->
<!--        <a th:href="@{/}" class="button-primary">Back</a>-->

        <button type="submit" class="btn btn-primary" th:href="@{/}">Back</button>
        <button type="submit" class="btn btn-primary">Spara</button>
    </form>

</div>

</body>
</html>